.textarea {
  width: 100%;
  margin: 0.8rem 0;
  padding: 0.7rem 0.5rem;
  font-size: var(--paragraph-font-size);
  border: 2px solid var(--low-contrast-color);
  color: var(--text-color);
  border-radius: 5px;
  background-color: transparent;
  outline: none;
  line-height: 1.3;
  size: 100%;
  resize: none;
  transition: border-color 0.2s ease-in-out;
  overflow-y: auto;
  scrollbar-width: thin;
}

.textarea:focus {
  border-color: var(--contrast-color);
}
